GitPython
pandas
python-hcl2
tqdm
networkx
matplotlib
jupyter
notebook
PyGithub
requests
numpy
scikit-learn
seaborn
plotly
pyarrow
sentence-transformers
umap-learn
hdbscan
bertopic
nltk
emoji
langdetect
